default_layer {
    display-name = "Main";
    bindings = <
        &lt 1 W
        &lt 2 W
        &kp C_MUTE
        &kp C_PREV
        &kp C_PP
        &kp C_NEXT
        &kp C_VOL_UP
        &kp C_VOL_DN
        &kp C_VOL_UP   /* pos 8: 滑条音量+ */
        &kp C_VOL_DN   /* pos 9: 滑条音量- */
    >;
    sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
};

bt_layer {
    display-name = "BT";
    bindings = <
        &none
        &out OUT_USB
        &out OUT_BLE
        &bt BT_SEL 0
        &none
        &bt BT_CLR
        &bt BT_NXT
        &bt BT_PRV
        &kp C_VOL_UP   /* pos 8: 即使在 BT 层，滑条依然控音量 */
        &kp C_VOL_DN   /* pos 9 */
    >;
    sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
};

rgb_layer {
    display-name = "RGB";
    bindings = <
        &rgb_ug RGB_TOG
        &rgb_ug RGB_EFF
        &rgb_ug RGB_HUI
        &rgb_ug RGB_HUD
        &rgb_ug RGB_BRI
        &rgb_ug RGB_BRD
        &rgb_ug RGB_SPI
        &rgb_ug RGB_SPD
        &kp C_VOL_UP   /* pos 8 */
        &kp C_VOL_DN   /* pos 9 */
    >;
    sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
};
